.editor {
    padding: 10px;
    line-height: 1.8;
    overflow: hidden
}
.editor * {
    max-width: 100%!important
}
.editor ol, .editor p, .editor pre, .editor ul {
    margin: 0 0 15px 0
}
.editor p {
    text-indent: 2em
}
.editor img {
    width: 100%!important;
    height: auto!important;
    display: block
}
.editor h1, .editor h2, .editor h3, .editor h4, .editor h5, .editor h6 {
    font-weight: 700;
    margin-top: 0
}
.editor ol, .editor ol li {
    list-style: decimal
}
.editor ul, .editor ul li {
    list-style: disc
}
.editor ol, .editor ul {
    padding-left: 2em
}
.editor ol p, .editor table p, .editor ul p {
    margin: 0;
    text-indent: 0
}
.editor p.player-iframe {
    text-indent: 0
}
.appstore-local-applist a {
    width: 200px;
    text-align: center;
    display: block;
    border: 1px #e1e1e1 solid;
    margin: 0 auto;
    background: #009688;
    color: #fff;
    height: 100px;
    line-height: 100px
}
.appstore-local-applist a:hover {
    border: 1px #ccc solid
}
.install-bg {
    background: url(./download.gif) center center no-repeat;
    background-size: 60%;
    width: 100%;
}
.install-progress {
    width: 300px;
    padding: 400px 0 0 0;
    margin: 0 auto;
}
.install-tips {
    margin: 20px 0;
    text-align: center;
    color: red
}
.update-pay-tips {
    background: #009688;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px
}