body, html {
    background: #f4f4f4;
    overflow: hidden
}
* {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.lcms-form-upload-gallery ._topbar ._bak {
    display: none
}
.lcms-form-upload-gallery ._pos {
    line-height: 30px
}
.lcms-form-upload-gallery ._btn {
    position: absolute;
    right: 0;
    top: 0
}
.lcms-form-upload-gallery ._gallery {
    text-align: center;
    padding: 10px 0 0 0
}
.lcms-form-upload-gallery ._gallery ._bg {
    height: 110px;
    margin: 5px 5px;
    cursor: pointer;
    border: 3px #fff solid;
    background: #ccc
}
.lcms-form-upload-gallery ._gallery ._bg img {
    width: 100%;
    height: 100%
}
.lcms-form-upload-gallery ._gallery ._bg ._name {
    width: 100%;
    height: 20px;
    line-height: 20px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #fff
}
.lcms-form-upload-gallery ._gallery ._bg ._tips {
    display: none;
    width: 100%;
    height: 110px;
    line-height: 110px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff
}
.lcms-form-upload-gallery ._gallery ._del {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    background: #FF5722;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px
}
.lcms-form-upload-gallery ._gallery ._ok {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    background: #1E9FFF;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px
}
.lcms-form-upload-gallery ._gallery ._active {
    border: 3px #1E9FFF solid
}
.lcms-form-upload-gallery ._gallery ._active ._ok {
    display: block
}
.lcms-form-upload-gallery ._pager {
    text-align: center
}
@media screen and (max-width:540px) {
    .lcms-form-upload-gallery ._gallery ._bg {
        height: 80px;
    }
    .lcms-form-upload-gallery ._gallery ._bg ._tips {
        height: 80px;
        line-height: 80px;
    }
}