.fl {
    float: left;
}
.fr {
    float: right;
}
.clear {
    clear: both;
}
.hide {
    display: none;
}
.center {
    margin: 0 auto;
    text-align: center;
}
.title {
    font-size: 30px;
    text-align: center;
    padding: 50px 0;
}
.btn {
    padding-top: 20px;
}
.layui-container {
    max-width: 600px;
    margin: 0 auto;
}
.setup1 ._content {
    min-height: 300px;
    background: #f4f4f4;
    border: 1px #cccccc solid;
    padding: 20px;
    overflow-y: auto;
}
.copyright {
    border-top: 1px #f4f4f4 solid;
    margin-top: 50px;
    padding-top: 20px;
    text-align: center;
    color: #808080;
}